.button {
	border: 2px solid $gray;
	padding: .5em 2em;
	border-radius: 50px;
	font-family: $fontfamily;	
	font-weight: $bold;
	font-size: $large;
	color: $gray;
	background-color: white;
	margin-bottom: 2em;
}
